// Assuming you already have some base styles
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.absolute {
  position: absolute;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.min-h-screen {
  min-height: 100vh;
}

.z-10 {
  z-index: 10;
}

.editortabs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

.tabs {
  gap: 1rem;
}

.filtertabs-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  margin-top: 1rem;

  .tab-btn {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    transition-duration: 0.25s;
    &:hover {
      scale: 0.95;
    }
  }
}

.upload-section {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: 1rem;
}

.tag-input {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.loader-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .loader {
    display: flex;
    align-items: center;

    .icon {
      height: 1.5rem;
      width: 1.5rem;
      animation: spin 1s linear infinite;
      stroke: black;
    }

    .loading-text {
      font-size: 0.75rem;
      line-height: 1rem;
      font-weight: 500;
      color: black;
      cursor: default;
    }
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
